.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  background-color: whitesmoke;
  box-shadow: 24px 19px 36px -24px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 24px 19px 36px -24px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 24px 19px 36px -24px rgba(0, 0, 0, 0.73);
}
.newCrew {
  position: relative;
  top: 3rem;
  right: -210px;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: aquamarine;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}
.photo {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.container {
  width: 500px;
  margin: auto;
}

.banner {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
  background-color: gold;
  font-weight: bold;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(215, 127, 12);
}

.counter:hover {
  background-color: rgb(246, 243, 197);
}

.number {
  font-size: 7rem;
}

.button {
  font-size: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: rgb(215, 127, 12);
  background: linear-gradient(
    90deg,
    rgba(215, 127, 12, 1) 0%,
    rgba(253, 220, 29, 1) 100%
  );
}

.total {
  font-size: 30px;
}
