.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  background-color: whitesmoke;
  box-shadow: 24px 19px 36px -24px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 24px 19px 36px -24px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 24px 19px 36px -24px rgba(0, 0, 0, 0.73);
}
.newCrew {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: aquamarine;
}
.photo {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
